extends layout

block content
    .row.yt-search
        .col-lg-6.col-lg-offset-3
            .input-group
                input.form-control.in-ytid(type='text',placeholder='YouTube video ID or URL',name='url')
                span.input-group-btn
                    button.btn.btn-default.cmd-search(type='button') Go!
    .row
        .yt-results