doctype html
html
    head
        //
            Some basics...
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title YouТюбик
        //
           Bootwatch theme
        link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/stylesheets/style.css', rel='stylesheet/less', type='text/css')
        //
            JS
        script(src='//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='/javascripts/main.js')
        //
           HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //
           WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        block content