.well.well-lg.v-box
    .v-thumbnail
        a.v-link(href=vurl,target="_blank")
            img(src=url,width=width,height=height)
            span.v-time= duration
        a.v-link(href=vurl,target="_blank")
            span.v-title= title