body {
  padding: 50px;
  font: 14px Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

.yt-results {
  margin-top: 20px;
  display: none;
  text-align: center;
}

.v-box {
  width: 300px;
  margin: 20px;
  text-align: center;
  display: inline-block;

  .v-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .v-time {
    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #FFF !important;
    height: 14px;
    line-height: 14px;
    opacity: .75;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    vertical-align: top;
    zoom: 1;
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    position: absolute;
    right: 2px;
    bottom: 2px;
  }

  .v-title {
    color: #167AC6;
    font-size: 13px;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}